.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.env

# Test binary, built with `go test -c`
*.test

# database files
*.db

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log files
*.log

# IDEs and editors
.idea
.project
.classpath
.c9/
*.iml
*.launch
.settings/
*.sublime-workspace

# Dependency directories (remove the comment below to include it)
vendor
.tanstack

# Go workspace file
go.work

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.sqlite
*.xlsx